body{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightslategrey;
    color: white;
    text-align: center;
}

h1{
    text-align: center;
}
.tableContainer{
    display: flex;
    justify-content: center;
    align-items: center;

}
table{
    border: 10px solid red;
}

td{
    border: 2px double brown;
    padding:  8px;
    height: 100px;
    width: 150px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: pink;
    color: brown;
    padding: 2px;
}
#shuffle{
    margin: 1%;
    background-color: green;
    color:yellow;
    height: 50px;
    font-weight: bold;
}
#winDisplay{
    font-size: 100px;
    color:orange;
}
#counter{
    color:coral;
    font-size: 50px;
}
#welcome{
    border: 2px white solid;
    border-radius: 20px;
}